<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; " />             
                <remove name="X-Content-Type-Options" />
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <rewrite>
           <rules>
                <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>        
        </rewrite>
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
       
    </system.webServer>
</configuration>

